@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
/* Use these custom variables... */

/* Use these custom variables... */
:root {
  --polka-bg-image:
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%),
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%);
  --polka-bg-position: 0px 0px, 16px 16px;
  --polka-bg-size: 32px 32px;
  --polka-bg-color: rgb(177, 210, 255);
}

/* ...or add this class to an element */
body {
  background-image:
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%),
    radial-gradient(rgb(255, 255, 255) 10%, transparent 10%);
  background-position: 0px 0px, 16px 16px;
  background-size: 32px 32px;
  background-color: rgb(177, 210, 255);
}

.page-heading {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Tilt Prism', cursive;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 3.5rem;
  width: 1080px;
  margin: 1rem auto;
}